body{
    background-image: url(Colegio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    background-color: white;
    width: 700px;
    margin: 0 auto;
    border-radius: 10px;
}

.content img {
    width: 150px;
    height: 150px;
}

.items h1 {
    font-weight: lighter;
    font-family: cursive;
}

.items h2 {
    text-align: center;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.di {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

.di form {
    background-color: rgb(188, 188, 188);
    padding: 1em 2em;
    border-radius: 5px;
}

button{
    padding: 10px;
    background-color: rgb(80, 160, 80);
    border-radius: 8px;
    border: none;
    
}

button:hover{
    background-color: aliceblue;
}
